h1 {
  font-family: 'Carter One', cursive;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 75px;
}

body {
  font-family: Quicksand, sans-serif;
}

#app {
  width: 100%;
}

.addMovies,
.search {
  margin: 0 200px 25px 200px;
}

.noErrorMessage {
  margin: 0 200px 50px 200px;
  display: none;
}

.errorMessage {
  margin: 0 200px 50px 200px;
}

.movieList {
  margin: 0 200px 50px 200px;
}

.movieList .movieEntry {
  border: solid 1px grey;
  border-bottom: none;
  padding: 20px 25px 20px 30px;
}

.movieList .movieEntry:last-child{
  border-bottom: solid 1px grey;
}

.movieEntry .watched {
  float: right;
  background-color: rgb(62, 204, 62);
  font-weight: bold;
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
}

.movieEntry .notWatched {
  float: right;
  background-color: white;
  font-weight: bold;
  color: black;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 5px 5px 5px;
  font-size: 10px;
}