h1 {
  font-family: 'Carter One', cursive;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 75px;
}

body {
  font-family: Quicksand, sans-serif;
}

#app {
  width: 100%;
  border: solid 1px grey;
}

.movieList {
  margin: 0 25px 50px 25px;
}

.movieList .movieEntry {
  border: solid 1px grey;
  border-bottom: none;
  padding: 20px 25px 20px 30px;
}

.movieList .movieEntry:last-child{
  border-bottom: solid 1px grey;
}